<div id="cart">
	<a href="index.php?route=checkout/cart" class="header_link">
		<img
		src="catalog/view/theme/lydiiase/assets/img/header_link2.svg" alt="Cart">
		{# Этот ID критически важен для работы AJAX #}
		<span id="cart-total-items">{{ items_count }}</span>
	</a>
</div>
