#city-choices {
    position: absolute;
    z-index: 999;
    width: 90%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.city-choice {
    padding: 8px;
    cursor: pointer;
}

.city-choice:hover {
    background-color: #f1f1f1;
}

#pvz-choices {
    position: absolute;
    z-index: 999;
    width: 90%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pvz-choice {
    padding: 8px;
    cursor: pointer;
}

.pvz-choice:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}

.spinner {
    margin-left: 5px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border-top-color: #333333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.input-spinner-container {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
}

.clear-button {
    position: absolute;
    top: 4px;
    right: 21px;
    padding: 5px 10px;
    background-color: #dbdbdb;;
    border: none;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #aaaaaa;
    color: #ffffff;
}

#cdek_official_shipping__pvz {
    padding-right: 40px;
}

#cdek_official_shipping__city_address {
    padding-right: 40px;
}

.cdek_official_map_info_container {
    display: flex;
    align-items: stretch;
}

.cdek_official_map_info_block {
    background: #e58787;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cdek_official_map_info_block_selected {
    background: #93bb8c;
}

.cdek_official_map_info_button {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    background: #ffffff52;
    border-radius: 50%;
    cursor: pointer;
}

.cdek_official_map_info_button::before,
.cdek_official_map_info_button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: center;
}

.cdek_official_map_info_button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cdek_official_map_info_button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
