<div class="simplecheckout-block" id="simplecheckout_comment">
    {% if display_header %}
      <div class="checkout-heading panel-heading">{{ label }}</div>
    {% endif %}
    <div class="simplecheckout-block-content">
      <div class="cart_inner">
        <textarea class="cart_area" name="comment" id="comment" placeholder="{{ placeholder }}" data-reload-payment-form="true">{{ comment }}</textarea>
      </div>
    </div>
</div>